<!doctype html>
<html ng-app="scotchnamelist">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Node/Angular Name List App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
        html 					{ overflow-y:scroll; }
        body 					{ padding-top:50px; }
        #namelist-list 				{ margin-bottom:30px; }
        .namelist-form 	 			{ margin-bottom:50px; }
        table{
            border-collapse: separate;
        }p{
            margin-top: 15px;
                 }
        .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
            background-color: #f9f9f9;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="javascripts/main.js"></script>
</head>
<body ng-controller="mainController">
<div class="container">
    <div  class="row namelist-form">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" >First Name</label>
                    <input type="text" class="form-control"  placeholder="First Name" ng-model="formData.user_firstname" >
                </div>
                <div class="form-group">
                    <label class="sr-only" >Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" ng-model="formData.user_lastname" >
                </div>
                <button type="submit" class="btn btn-default" ng-click="createuserlist()">Add</button>
            </form>
        </div>
    </div>
    <div  class="row namelist-form">
        <div class="col-sm-4 col-sm-offset-4">
                <table class="table table-striped table-bordered" >
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active" ng-repeat="user in userlist">
                            <td class="info"> {{ user.user_firstname }}</td>
                            <td class="info">{{ user.user_lastname }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <div  class="row namelist-form">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form class="form-inline" role="formnum">
                <div class="form-group">
                    <label class="sr-only" >Number </label>
                    <input type="text" class="form-control"  placeholder="Type number" ng-model="number.number" >
                </div>
                <button type="submit" class="btn btn-default" ng-click="calculate()">Call</button>
            </form>
            <p class="sum"><strong>{{ sum }}</strong></p>
        </div>
    </div>
    <div  class="row namelist-form">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form class="form-inline" role="formstr">
                <div class="form-group">
                    <label class="sr-only" >String</label>
                    <input type="text" class="form-control"  placeholder="Type string" ng-model="string.string" >
                </div>
                <button type="submit" class="btn btn-default" ng-click="recursestr()">Call</button>
            </form>
            <p class="str"><strong>{{ str }}</strong></p>
        </div>
    </div>
</div>
</body>
</html>